*{
    background-color: #737373;
}
.datos {
    margin: 0 auto;
    justify-content: left; 
    

}

h3{
    font-size: 25px;
    font-weight: 300;
    color: white;
    padding: 5px;
}

i{
    margin: 1rem;
    padding: 2px;
    font-size: 30px;
    color: white;
    padding: 5px;
}