* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-left: 3rem;
    margin-right: 3rem;
}

.nav {
    background-color: #161616;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -89rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .90rem;
}

.nav li:hover {
    background-color: #777;
    transition: background-color 0.45s;
}

.nav li {
    font-size: 1.5em;
    margin-left: 12rem;
}